* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
}

.resMenuIcon img {
  height: 50px;
  width: 50px;
  margin: 10px;
  display: none;
}

.leftSide {
  width: 23%;
  height: 100vh;
  border-right: 2px solid rgb(255, 255, 255);
  background-color: #000000;
  /* display: none; */
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.logo span {
  font-size: 2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}

.leftmid {
  width: 70%;
  height: 60%;
  border: 0;
  border-radius: 8px;
  box-shadow: #434040;
  margin: auto;
  margin-top: 20px;
  background: rgb(123 120 120 / 53%);
  display: flex;
  justify-content: center;
}

.leftmid button {
  height: 60px;
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  background-color: #fff2f269;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.leftmid button i {
  font-size: 32px;
}

.borderline{
  width: 100%;
  height: 2px;
  border: 2ps solid white;
  background-color: white;
  margin-top: 30px;
}
.leftFooter {
  width: 100%;
  height: 100px;
  width: 100;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.leftFooter i {
  font-size: 45px;
  color: white;
  /* margin: 10px; */
  padding: 10px;
  margin-left: 10px;
}

.footerflex {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.green {
  color: green !important;
}

.rightSide{
  height: 100vh;
  width: calc(100% - 23%);
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem 8rem;
}

.chatFooter{
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatFooter .input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: #000000;
  border-radius: 8px;
}

.chatFooter .input input{
width: 100%;
padding: 10px;
}

.input> input ,.send{
  border: none;
  background: transparent;
  outline: 0;
  color: white;
  font-size: 20px;
}

.footerText{
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

.chats{
  display: flex;
  flex-direction: column;
}

.chat{
  display: flex;
  width: 100%;
  text-align: justify;
  align-items: center;
  margin: 10px;
  gap: 18px;
}

.chat img{
  height: auto;
  width: 40px;
  border-radius: 10px;
  object-fit: cover;
}

.bot{
  background-color: aquamarine;
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
}
