*{
  margin: 0;
  padding: 0;
}

.App{
  height: 100vh;
  width: 100%;
}

.leftSide{
  width: 27%;
  height: 100vh;
  border-right: 2px solid black;
  background-color: #434040;
}

.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.logo span{
  font-size: 2rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
  margin-left: 10px;
  margin-top: 10px;

}